body {
  font-family: Arial;
  text-align: center;
  margin-top: 120px;
}

input {
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
}
#result {
  font-size: 20px;
  margin-top: 20px;
}
